@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manrope-regular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 90%;
    margin: 1rem auto;
}

.dark {
    color: rgb(58, 58, 58);
}

/* navbar related styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-container p {
    font-weight: 600;
    font-size: 1rem;
}

.nav-options {
    display: flex;
    gap: 2rem;
}

/* banner related styles */
.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 69px;
}

.banner-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner-container .img-container {
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-container .img-container img {
    width: 100%;
}

.banner-container h1 {
    margin: 0;
}

.banner-container button {
    padding: 10px 24px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    line-height: 1.5rem;
    cursor: pointer;
}

.banner-container button i {
    margin-left: .5rem;
}

/* marketing logos related styles */
.marketing-links-container {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

/* card-container */
.card-heading {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
}

.collection-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 4rem;
}

.card-container {
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    max-width: max-content;
}

.card-container .card-img-container {
    border-radius: 5px;
    max-width: 18.75rem;
    max-height: 16rem;
}

.card-container .card-img-container img {
    width: 100%;
}

.card-container h4 {
    margin-top: 1rem;
    margin-bottom: 0.375rem;
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: left;
}

.card-container h5 {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.card-container p {
    margin: 0;
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
    text-align: left;
}



@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-options {
        gap: 1rem;
    }

    .nav-container h3 {
        margin: 1rem auto;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container .text-container {
        text-align: center;
        align-items: center;
    }

    .marketing-links-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .marketing-links-container img {
        width: 20%;
    }

    .collection-cards-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/* Medium Device: 576px to 992 px  */
@media screen and (min-width:576px) and (max-width:992px) {
    .marketing-links-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .marketing-links-container img {
        width: 20%;
    }

    .collection-cards-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}